@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Tergus.</h1>
    <p>Produto Licenciado para Amex Assessoria Jurídica e Empresarial LTDA</p>
    <p>Criado por Apollyon INC - 2010 a 2020.</p>
</div>
